---
import { buildPermalink } from "../../lib/permalink";
import HeadInfo from "../../components/HeadInfo.astro";
import Pagination from "../../components/Pagination.astro";
import RecipesList from "../../components/RecipesList.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths({ paginate }) {
  const data = Astro.fetchContent("./*.md");
  return paginate(data, { pageSize: 40 });
}

const { page } = Astro.props;
const title = "Browse recipes";
const description = `Browse all recipes [Page ${page.currentPage} of ${page.lastPage}]`;
const permalink = buildPermalink(page.url.current);
---

<head>
  <HeadInfo {title} {description} {permalink} />
</head>
<body>
  <Header />
  <h1>{title}</h1>
  <RecipesList recipes={page.data} includeCategories={true} />
  <Pagination {page} />
</body>
