---
import { getTagSlug } from "../../lib/tags";
import { buildPermalink } from "../../lib/permalink";

export async function getStaticPaths() {
  const recipes = await Astro.glob("../recipes/*.md");
  const tags = new Set(recipes.map((recipe) => recipe.frontmatter.tags).flat());
  const tagsOpts = Array.from(tags).map((tag: string) => {
    const slug = getTagSlug(tag);
    return {
      params: { slug },
      props: {
        tag,
        recipes: recipes.filter((recipe) => {
          return recipe.frontmatter.tags.some((t) => getTagSlug(t) === slug);
        }),
      },
    };
  });
  return tagsOpts;
}

import RecipesList from "../../components/RecipesList.astro";
import HeadInfo from "../../components/HeadInfo.astro";
import Header from "../../components/Header.astro";

const { slug } = Astro.params;
const { tag, recipes } = Astro.props;
const title = `${tag} recipes`;
const description = `Recipes in the "${tag}" category`;
const permalink = buildPermalink(`/categories/${slug}`);
---

<head>
  <HeadInfo {title} {description} {permalink} />
</head>

<body>
  <Header />
  <h1>{title}</h1>
  <RecipesList {recipes} />
</body>
