---
import HeadInfo from "../components/HeadInfo.astro";
import Categories from "../components/Categories.astro";
import Header from "../components/Header.astro";
import StoreRecentRecipe from "../components/StoreRecentRecipe.tsx";
import StarRecipe from "../components/StarRecipe.tsx";
import CookMode from "../components/CookMode.tsx";
import { buildPermalink } from "../lib/permalink";
const { content } = Astro.props;
const { title, serves, tags, slug, prep, cook } = content;
const permalink = buildPermalink(`/recipes/${slug}`);
const recipeSynopsis = { title: content.title, url: `/recipes/${slug}` };
---

<html lang="en">
  <head>
    <HeadInfo {title} description={title} {permalink} />
  </head>

  <body>
    <Header />
    <StoreRecentRecipe recipe={recipeSynopsis} client:idle />
    <h1 class="recipe-title">
      {title}
      <StarRecipe client:load recipe={recipeSynopsis} />
    </h1>
    <CookMode client:idle />

    <p>Serves {serves}</p>
    {(prep || cook) && (
      <p>
        {prep && <span>Prep: {prep}</span>} {cook && <span>Cook: {cook}</span>}
      </p>
    )}

    <section class="recipe-detail">
      <slot />
    </section>
    <aside class="recipe-categories">
      <h3>Categories</h3>
      <Categories categories={tags} />
    </aside>
  </body>
</html>

<style>
  .recipe-detail {
    margin-bottom: 2rem;
    max-width: 760px;
  }
  .recipe-categories {
    padding-bottom: 2rem;
  }
  .recipe-title {
    display: flex;
    align-items: flex-start;
  }
</style>
