---
import HeadInfo from "../components/HeadInfo.astro";
import Categories from "../components/Categories.astro";
import Header from "../components/Header.astro";
import StoreRecentRecipe from "../components/StoreRecentRecipe.tsx";
import StarRecipe from "../components/StarRecipe.tsx";
import { buildPermalink } from "../lib/permalink";
const { content } = Astro.props;
const { title, serves, tags, slug } = content;
const permalink = buildPermalink(`/recipes/${slug}`);
const recipeSynopsis = { title: content.title, url: `/recipes/${slug}` };
---

<html lang="en">
  <head>
    <HeadInfo {title} description={title} {permalink} />
  </head>

  <body>
    <Header />
    <StoreRecentRecipe recipe={recipeSynopsis} client:idle />
    <h1>
      {title}
      <StarRecipe client:load recipe={recipeSynopsis} />
    </h1>

    <p>Serves {serves}</p>
    <section class="recipe-detail">
      <slot />
    </section>
    <aside class="recipe-categories">
      <h3>Categories</h3>
      <Categories categories={tags} />
    </aside>
  </body>
</html>

<style>
  .recipe-detail {
    margin-bottom: 2rem;
    max-width: 960px;
  }
  .recipe-categories {
    padding-bottom: 2rem;
  }
</style>
